:root:root {
    --adm-primary-color: #40AD79;
}

$bottomFloor: #EDEDED;
$primaryColor: var(--adm-primary-color);
$secondColor: #52BD83;
$lightPrimaryColor: #D8F0E3;
$darkTextColor: #333;
$textColor: #666;
$lightTextColor: #999;
$borderColor: #E5E5E5;
$popBgColor: #f7f6f6;

$expendColor: #68d499;
$incomeColor: #f1c461;

$borderRadius: 4px;
$popBorderRadius: 8px;
